# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List Data Science Tools
- Examples of arithmetic expression in Pyton

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. C++
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. SciPy
2. NumPy
3. Pandas
4. Matplotlib
5. TensorFlow
6. Seaborn
7. Plotly

| Data Science Tools|
|-------------------|
| Hadoop |
| Apache Spark |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Aline Tanja Polak